
{% extends "base.html" %}

{% block body_block %}
<div class="container-fluid">
<div class="row heading">
  <h2 class="display-4">Car Damage Detection Project</h2>
</div>
<div class="row">
  <div class="col-md-9 heading" style="padding-top: 10px">
    <div class="card" style="margin-top:20px">
      <div class="card-body content-style">
        <h5 class="card-title">Part 1: Car Detection</h5>
        <p class="card-text">A simple implementation of transfer learning using VGG16 to detect if an image cotains a car or not.
          Click on 'Upload Image' to test the solution!</p>
          <form class="md-form" action="{% url "prediction" %}" method="post" enctype="multipart/form-data">
              <span><b>Upload Image :</b></span>
              {% csrf_token %}
              <input type="file" multiple>
              <br/>
              <br/>
              <button type="submit" class="btn btn-md btn-info">Analyze Image</button>
          </form>
          <p>{{ result }}</p>
          <br/>
          <div style="position: absolute; right: 20px; bottom: 20px;">
          <a href='https://github.com/royn5618/ComputerVisionProject/blob/master/testnotebooks/Car_Damage_Detection.ipynb' target='_blank'>
            View Notebook on GitHub
            <span class="fa fa-solid fa-github">
            </span>
          </a>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
