
{% extends "base.html" %}

{% block body_block %}
<div class="row heading">
  <h2>Welcome to my Computer Vision Project</h2>
  <p> This project is based on using pretrained VGG-16 CNN model. In this
    project, we essentially deploy a model which detects car damage.</p>
</div>

<div class="row">
      <button type="button" class="btn btn-light btn-link">CNN Architecture</button>
      <button type="button" class="btn btn-light btn-link" style='margin-left:30px'>VGG-16 Architecture</button>
      <button type="button" class="btn btn-light btn-link" style='margin-left:30px'>Test the Solution !</button>
</div>
{% endblock %}
